*.pyc
*.o
*.bin
*.elf
*.map
*.img
*.hex
*.lst
*.axf
*.out
*.d
.claude/
.codex/
.agents/
.config.old
.defconfig
.dirlist
cconfig.h
rtconfig.h
partition_table.h
.sconsign.dblite
.Kconfig.prj
*.bak
.log/
.cscope/
output/
/toolchain/
build/
!bsp/peripheral/wireless/aic8800/build/
tools/toolchain/Xuantie-900-gcc-elf-newlib-x86_64
tools/toolchain/Xuantie-900-gcc-elf-newlib-mingw
tools/toolchain/*.tar.gz
tools/env/tools/qemu/qemu-win
tools/env/tools/qemu/qemu-linux
packages/packages.dbsqlite
packages/pkgs_error.json
packages/pkgs.json
bsp/peripheral/wireless/realtek/wlan_lib/libwlan_rtl8733_full_c906fd.a
.clang-format
.commit
.editorconfig
.gitattributes
